<a href="https://www.kaggle.com/code/pritomsh/rename-pandas-columns-name?scriptVersionId=125807322" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<div style=" color:#721C24; padding:20px; border-radius:10px; text-align:center;">
    <h3 style="font-weight:bold; margin-top:0; font: 30px Arial;">Rename Pandas Columns in DataFrameüî•üí•</h3>
    Welcome! In this notebook
</div>
<br>
 <p><center style="color:#000000; font-family:cursive; font-size:20px;">Rename Columns is necessary for the data preprocessing stage. Everyone is using it for data analytics, machine learning, data engineering, and even software development. renaming columns in a Pandas dataframe is a simple and useful technique that can save time and make data analysis easier </center></p>
 <p><center style="color:#159364; font-family:cursive; font-size:20px;">Thanks for visiting my notebook </center></p>

# All Method I cover this version 
- ‚úíÔ∏è**Method 1**: 
```bash
Using Rename Function
```
<br>
- ‚úíÔ∏è**Method 2**:
 ```bash
Replacing the Column String
```
<br>

- ‚úíÔ∏è**Method 3**:
```bash
Assigning a List of Column Names
```
<br>
- ‚úíÔ∏è**Method 4**:
```bash
Renaming Columns with a Dictionary
```
<br>
- ‚úíÔ∏è**Method 5**:
```bash
Using axis-style parameters: upper and lower case
```
<br>
- ‚úíÔ∏è**Method 6**:
```bash
Rename column names using DataFrame add_prefix() and add_suffix() functions
```

# Make Data

In [1]:
import pandas as pd

info = {
    "ID": [11, 12, 13],
    "Name": ["Pritom Saha", "Himel Saha", "Pranajit Saha"],
    "Age": [25,27,65],
}

# Dictionary into DataFrame
# Make some copy 
dataset = pd.DataFrame(info)
dataset1 = pd.DataFrame(info)
dataset2 = pd.DataFrame(info)
dataset3 = pd.DataFrame(info)
dataset4 = pd.DataFrame(info)
dataset5 = pd.DataFrame(info)
dataset6 = pd.DataFrame(info)
dataset7 = pd.DataFrame(info)
dataset8 = pd.DataFrame(info)

print("\033[1m\033[31m{}\033[0m".format(dataset.head()))

   ID           Name  Age
0  11    Pritom Saha   25
1  12     Himel Saha   27
2  13  Pranajit Saha   65

# Using Rename Function 
Syntax:
```bash
dataset.rename(columns = {'OldName':'New Name '}, inplace = True)
```

In [2]:
# using columns 
dataset1.rename(columns = {'Name':'Full Name ', 'Age':'Current Age'}, inplace = True)
print("\033[35m{}\033[0m".format(dataset1.head()))

   ID     Full Name   Current Age
0  11    Pritom Saha           25
1  12     Himel Saha           27
2  13  Pranajit Saha           65

In [3]:
# using axis = "columns"
dataset2.rename({'Name':'Full Name ', 'Age':'Current_Age'}, 
          axis = "columns", inplace = True)
print("\033[36m{}\033[0m".format(dataset2.head()))

   ID     Full Name   Current_Age
0  11    Pritom Saha           25
1  12     Himel Saha           27
2  13  Pranajit Saha           65

# Replacing the Column String
Syntax:
```bash
dataset.columns.str.replace('OldName', 'new_name')
```

In [4]:
dataset3.columns = dataset3.columns.str.replace('Name', 'full_name')
print("\033[1m\033[31m{}\033[0m".format(dataset3.head()))

   ID      full_name  Age
0  11    Pritom Saha   25
1  12     Himel Saha   27
2  13  Pranajit Saha   65

# Assigning a List of Column Names
Syntax:
- Make all columns name list

```bash
dataset.columns = [x for x in columnlist]
```

In [5]:
columnN=['serial','full_name','Current_age']
dataset4.columns = [x for x in columnN]
print("\033[1m\033[31m{}\033[0m".format(dataset4.head()))

   serial      full_name  Current_age
0      11    Pritom Saha           25
1      12     Himel Saha           27
2      13  Pranajit Saha           65

# Renaming Columns with a Dictionary
Syntax:
- First make a dictionary than use columns as this dictionary

```bash
dataset.rename(columns=new_col_name, inplace=True)
```

In [6]:
new_col_name = {'ID':'Serial','Name': 'Full Name', 'Age': 'Years Old'}
dataset5.rename(columns=new_col_name, inplace=True)
print("\033[1m\033[31m{}\033[0m".format(dataset5.head()))

   Serial      Full Name  Years Old
0      11    Pritom Saha         25
1      12     Himel Saha         27
2      13  Pranajit Saha         65

# Using axis-style parameters: 
Syntax:
```bash
dataset.rename(str.lower, axis='columns')
dataset.rename(str.upper, axis='columns')
```

In [7]:
dataset6.rename(str.lower, axis='columns', inplace=True)
print("\033[1m\033[31m{}\033[0m".format(dataset6.head()))

   id           name  age
0  11    Pritom Saha   25
1  12     Himel Saha   27
2  13  Pranajit Saha   65

In [8]:
dataset6.rename(str.upper, axis='columns', inplace=True)
print("\033[1m\033[31m{}\033[0m".format(dataset6.head()))

   ID           NAME  AGE
0  11    Pritom Saha   25
1  12     Himel Saha   27
2  13  Pranajit Saha   65

# Rename column names using DataFrame add_prefix() and add_suffix() functions 
Syntax:
```bash
# Prefix
dataset.add_prefix('X')

# Suffix
dataset.add_suffix('X')

```

In [9]:
# Add prefix to the column names
dataset7=dataset7.add_prefix('student_')
print("\033[1m\033[31m{}\033[0m".format(dataset7.head()))

   student_ID   student_Name  student_Age
0          11    Pritom Saha           25
1          12     Himel Saha           27
2          13  Pranajit Saha           65

In [10]:
dataset8=dataset8.add_suffix('_student')
print("\033[33m{}\033[0m".format(dataset8.head()))

   ID_student   Name_student  Age_student
0          11    Pritom Saha           25
1          12     Himel Saha           27
2          13  Pranajit Saha           65

# More Way to rename Dataframe Colmuns Name
><div class="alert alert-success" role="alert">
><ul>
>    <li><b>Dataframe.columns.str.replace()</b></li>   
></ul>
>
></div>
><div class="alert alert-success" role="alert">
>
><ul>  
>    <li><b>Using the values attribute.</b></li>    
></ul>
>
></div>
><div class="alert alert-success" role="alert">
>
><ul>   
>    <li><b>Rename column names using DataFrame set_axis() function</b> </li>    
>
></ul>
></div>
>  
></div>

 **I will update all this in next version** If you found my work to be informative and valuable, I would greatly appreciate it if you could take a moment to **upvote** this notebook. Thank you in advance for your time and consideration.

Ref: 
- https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/
- https://pythonbaba.com/rename-column-in-pandas/